config.class.php
browser
newTest/human/results.txt
services/v1/samples/yoimap
services/v1/samples/yoimapC
.AppleDouble
.DS_Store
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log

# caused by https://bugs.php.net/bug.php?id=61935
after_thumbnail.png
