config.class.php
gamedata/*
!gamedata/0
!gamedata/player
!gamedata/rawuploads
gamedata/0/aris*
gamedata/player
browser
newTest/human/results.txt
services/v1/samples/yoimap
services/v1/samples/yoimapC
.AppleDouble
.DS_Store
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log

# caused by https://bugs.php.net/bug.php?id=61935
after_thumbnail.png
