html
{
}

body
{
  background: #F4F4F4;

  font-size: 16px;
  height: 100%;
  width: 100%;
  margin-top: 1.875em;
}

#main
{
  width: 62.5em;
  margin: 0 auto;
}

a:link
{
  color: #AAAAAA;
  text-decoration: none;
}

a:visited
{
  color: #AAAAAA;
  text-decoration: none;
}

a:hover
{
  color: #336699;
  text-decoration: underline;
}

.backgroundPlate
{
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #222;
  z-index: -10;
}

#topPlate
{
  height: 29.375em;
  top: 0;
}

#bottomPlate
{
  height: 3.125em;
  position: relative;
  top: 3.125em;
}

#bottomBar
{
  width: 62.5em;
  margin: 0 auto;
  color: #AAAAAA;
}
 
#header
{
  height: 2em;
}

img#title
{
  float: left;
}

#logotext
{
  font-family: arial,sans-serif;
  color: #fff;
  font-size: 2.45em;
  font-weight: bold;
  position: relative;
  top: 0.3em;
}

#mapContainer
{
  margin:0 auto;
  margin-top: 2%;
  border: 0.625em solid white;
  height: 25em;
  text-align: center;
}

#mainStatsContainer
{
  margin:0 auto;
  margin-top: 1%;
  font-family: calibri, arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.statsContainer
{
  margin: 0 1%;
  width: 29%;
}

.h2
{
  font-size: 16px;

}

.graph
{
width: 80%;
height: 3.75em;
margin: 0 auto;
border-top: 1px solid #AAAAAA;
border-bottom: 1px solid #AAAAAA;
}

#totalPlayers
{
  float:left;
}

#totalGames
{
  margin:0 auto;
}

#totalEditors
{
  float:right;
}

.bigNum
{
  margin: 0;
  font-size: 4em;
}

.bigText
{
  margin: 0;
  font-size: 2em;
}

.graphText
{
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #AAAAAA;
  position: relative;
  bottom: 0.125em;
}

#topTenGames
{
  margin: 0 auto;
  width: 100%;
  border: 0.125em solid #AAAAAA;
  border-radius: 1em;
  -moz-border-radius: 1em;
  position: relative;
  top: 1.25em;
}

#liveFeedContainer
{
  margin-top: 1%;
  float: left;
  width: 40%;
  height: 31.25em;
  border: 0.125em solid white;
  border-radius: 1em;
  -moz-border-radius: 1em;
}

h1
{
  margin-left: 400px;
  font-size: 14px;
}

#topTenElementForDay, #topTenElementForWeek, #topTenElementForMonth
{
  display: none;
}

.topTenElement
{
  position:relative;
  border-top: 0.125em solid #AAAAAA;
  height: 5.6em;
}

.topTenNumBox
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  font-family: arial,sans-serif;
  color: #336699;
  font-size: 0.5em;
  font-weight: bold;
}

.topTenNum
{
  text-align: center;
  line-height: 1.5em;
}

.topTenGameNameAndDesc
{
  position: absolute;
  top: 0;
  left: 10%;
  height: 100%;
  width: 80%;
}

.topTenGameCount
{
  text-align: center;
  position: absolute;
  top: 0;
  left: 90%;
  height: 100%;
  width: 10%;
}

.topTenName, .topTenAuthor, .topTenDescription, .topTenPlayerText
{
  margin: 0.125em;
  padding: 0;
}

.topTenDescription
{
  font-style: italic;
}

.topTenPlayerCount
{
  font-family: arial,sans-serif;
  color: #FF9900;
  font-size: 3em;
  font-weight: bold;
}

#topTenButtonBox
{
  width: 11em;
  margin-left: auto;
  margin-right: auto;
}

.topTenImg
{
  margin: 1.5em 0 0 0.4em;
}

button {
  background-color: #555;
  color: white;
  margin: 0.625em auto;
  border: solid white 0.125em;
  border-radius: 1em;
  -moz-border-radius: 1em;
font-size: 16px;
}

.red { 
color: red; 
} 

.tab {
  position: absolute;
  left:260px;
  font-size: 18px;
}

/*
------------------------------------------------------------------------
Theme Name:    Play
Theme URI:     http://www.nattywp.com/
Description:   Premium theme by NattyWP. <a href="admin.php?page=nattywp_home">Configure</a> your theme. Visit our <a href="http://www.nattywp.com/forum" title="NattyWP Forum">NattyWP Community Forum</a> and <a href="http://support.nattywp.com">Help Desk</a>!
Version:       3.2
Author:        NattyWP
Author URI:    http://www.nattywp.com/
------------------------------------------------------------------------

Support:       NattyWP, contactus@nattywp.com
Updated:       May 15 2010
Copyright:     (c) 2010 NattyWP

All rights reserved.
*/
* {margin: 0pt; padding: 0pt; }
body{background:#f4f4f4; font-family: Arial, Helvetica, sans-serif; font-size:13px; color:#000; margin:0px; padding:0px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.clear{clear:both;}
a img {border:0px solid;}
ul { list-style-type: none; }
li { list-style-type: none; }
.right {float:right;}
.left {float:left;}
p {margin:1em 0;}
a img, a {outline:none;}
a img::-moz-focus-inner, a::-moz-focus-inner { border: 0; padding: 0; margin: 0; } 
.compact p {height:140px; overflow:hidden;}

/* Fonts */
h1 {font-size:32px; font-weight:normal; line-height:30px; margin-top: 20px; padding-bottom:10px;}
h2 {font-size: 1.6em; margin: 0; font-weight:normal; padding-bottom:10px;}
h3 {font-size: 1.3em; padding: 0; margin: 0; padding-bottom:10px;}
h1, h2, h3 { font-family: Arial, Helvetica, sans-serif; line-height:30px; }
h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description {text-decoration: none;}
h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {text-decoration: none;}
code {margin: 0pt; padding: 1px 3px; background: rgb(255, 255, 225) none repeat scroll 0% 0%; font-family: Monaco,monospace; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none;}
em { font-style: italic; }
hr { border: medium none ; margin: 0pt 0pt 1.4em; background: rgb(178, 204, 255) none repeat scroll 0% 0%; color: rgb(178, 204, 255); clear: both; float: none; width: 100%; height: 0.1em; }
pre { padding: 10px; background: rgb(249, 249, 212) none repeat scroll 0% 0%; overflow: auto; margin-bottom: 15px; }
acronym, abbr, span.caps {font-size: 0.9em;letter-spacing: .07em; cursor: help;}
acronym, abbr {border-bottom: 1px dashed #999;}
blockquote {margin: 15px 30px 0 10px; padding-left: 20px; border-left: 5px solid #ddd;}
blockquote cite {margin: 5px 0 0; display: block;}
.center {text-align: center;}
.hidden { display: none;}
a img {border: none;}

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5 {font-weight:normal; line-height:135%; margin:25px 0 10px; padding-bottom:5px;}
.notice {background: #FFF6BF; border-top: 2px solid #FFD324; border-bottom: 2px solid #FFD324; text-align: center; margin: 10px auto; padding: 5px 20px;}
.alert {background: #FCE4E0; border-top: 2px solid #EB6D59; border-bottom: 2px solid #EB6D59; text-align: center; margin: 10px auto; padding: 5px 20px;}
span.highlight {background:#F9F1ED none repeat scroll 0 0; color:#F75342; font-style:italic;}
span.highlight-bold {font-size:120%; font-weight:bold; line-height:150%;}
span.inset-left, span.inset-right {border:1px solid #E5E5E5; color:#333333; display:block; font-size:100%; font-style:italic; margin-top:25px; padding:12px 8px 8px; position:relative; text-align:center; width:30%;}
span.inset-right-title, span.inset-left-title {background:#FFFFFF none repeat scroll 0 0; color:#F75342; display:block; font-size:100%; font-weight:bold; left:10px; padding:3px 8px; position:absolute; top:-15px;}
span.inset-right {float:right; margin-left:15px;}
span.inset-left {float:left; margin-right:15px;}
span.dropcap {display:block;float:left;font-size:400%;line-height:100%;margin:0 4px 0 0;}
.important {border:1px solid #E5E5E5; margin:25px 0 10px;padding:15px; position:relative;}
span.important-title {background:#FFFFFF none repeat scroll 0 0; color:#F75342; display:block; font-size:120%; left:10px; padding:3px 8px; position:absolute; top:-0.8em;}

/* Begin Lists */
html > body .entry ul {margin-left: 0px; padding: 0 0 0 30px; list-style: none; padding-left: 10px; text-indent: 0px;}
html > body .entry li {margin: 7px 0 8px 10px;}
.entry ol {padding: 0 0 0 35px; margin: 0;}
.entry ol li {margin: 0; padding: 0; list-style: decimal outside;}
.postmetadata ul, .postmetadata li { display: inline; list-style-type: none; list-style-image: none;}
.entry dl { margin: 1.5em 0pt; }
.entry dd{margin:0; padding:0 15px 15px; }
.entry table { margin: 0pt auto;}
.entry th, .entry td { height: 1em; line-height: 18px; padding:10px; }
ol li, #sidebar ul ol li {list-style: decimal outside;}

ul.bullet-1, ul.bullet-2, ul.bullet-3, ul.bullet-4, ul.bullet-5, ul.bullet-6 {}
ul.bullet-1 li, ul.bullet-2 li, ul.bullet-3 li, ul.bullet-4 li, ul.bullet-5 li, ul.bullet-6 li {list-style-image:none; list-style-position:outside; list-style-type:none; margin-bottom:5px !important; padding-bottom:3px !important; padding-left:22px !important;}
ul.bullet-1 li {background:url(images/bullets/3.gif) no-repeat 0 5px;}
ul.bullet-2 li {background:url(images/bullets/4.gif) no-repeat 0 5px;}
ul.bullet-3 li {background:url(images/bullets/1.gif) no-repeat 0 5px;}
ul.bullet-4 li {background:url(images/bullets/2.gif) no-repeat 0 5px;}
ul.bullet-5 li {background:url(images/bullets/5.gif) no-repeat 0 5px;}
ul.bullet-6 li {background:url(images/bullets/6.gif) no-repeat 0 5px;}
/* End Entry Lists */

.logo {float:left; margin-top:30px; margin-left:10px;}

#header {background:#000000; background-position:top; height:475px;}
#header.inners {height:125px; margin-bottom:20px; border-bottom:3px solid #d4d4d4;}
#header.inners h1 {color:#FFF;}
#header.inners .title-main { width:700px; float:left; max-height:83px; overflow:hidden;}
#header.inners .title-main small {color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:10px;}
#header.inners .title-search {float:right; padding-right:15px; padding-top:25px;}

.content-head {width:980px; position:absolute; left:10px}
.content {width:960px; margin:0 auto;}
.inn .left {width:610px; float:right; margin-top:15px !important;}
.inn .right {width:300px; float:left;}
.blogContent {margin-top:15px;}
.featured-preview {background:url(images/table.gif) no-repeat; width:980px; height:474px; position:absolute; top:120px;}
.featured-preview .featured-img {position:relative; margin-top:57px; margin-left:27px;}

#note {border-top:1px solid #d4d4d4; border-bottom:1px solid #d4d4d4; width:960px; text-align:center; margin:120px auto 0px; font-size:21px;}

#featured {margin-top:0px; padding-top:20px; padding-bottom:20px; width:960px;}
#featured .grid {width:280px; display:inline; float:left; margin-left:0px; margin-right:60px; padding-top:20px; padding-bottom:20px;}
.projects #featured {margin-top:20px; background:#fff;}
#featured .grid.last {margin-right:0px;}
#featured .grid .pic_bg {width:280px; height:124px; background:url(images/home-pic.gif) no-repeat; margin-bottom:15px;}
#featured .grid .compact {line-height:20px;}
#featured .grid .more {font-style:italic; background:transparent url(images/bullets/5.gif) no-repeat scroll 0 6px;
float:right; font-size:13px; font-size-adjust:none; font-stretch:normal; font-variant:normal; font-weight:normal; line-height:23px; padding-left:18px;}

#featured .grid-3 {width:270px; display:inline; float:left; margin-left:20px; margin-right:20px; padding-top:20px; padding-bottom:20px;}
#featured .grid-3 .thumb {position:relative;}
#featured .grid-3 .thumb .flow-nameas {background:#000000 none repeat scroll 0 0; bottom:8px; font-size:12px; font-style:italic; font-weight:normal; left:0; line-height:normal;opacity:0.7; padding:1px 8px; position:absolute; color:#FFFFFF;}
#featured .grid-3 .thumb .flow-nameas a {color:#FFFFFF; text-decoration:none;}
#featured .grid-3 .main-title {margin-bottom:20px;}
#featured .grid-3 .main-title h2 {padding-bottom:0px; margin-bottom:0px; margin-top:10px;}
#featured .grid-3 .main-title h2 a {font-size:1.0em;}

/* Required */
.container { width:960px; height:400px; overflow:hidden; position:relative; cursor:pointer; }
.slides { position:absolute; top:0; left:0; }
.slides > div { position:absolute; top:0; width:960px; height:400px; display:none; background:url(images/noimage.gif) no-repeat; }
/* Optional		*/
#loopedSlider,#newsSlider { margin:0 auto; width:960px; position:relative; overflow:hidden; clear:both; padding-top:7px;}
ul.pagination { list-style-type:none; margin:7px auto; padding:0; width:960px; position:relative; left:45%}
ul.pagination li { float:left; margin:0 3px;}
ul.pagination li.active a { background-position:0 -12px; }
ul.pagination a {background-image:url(images/pagination.png); background-position:0 0; background-repeat:no-repeat; display:block; height:0; overflow:hidden; padding-top:12px; width:12px; outline:none;}
ul.pagination a::-moz-focus-inner {border:0;}
#loopedSlider .previous, #loopedSlider .next {display:none; position:absolute;}


.left {float:left; margin:0; padding:0 0 40px; width:580px;}
.left .post {margin-bottom:20px;}
.left .entry {font-size:1.2em; line-height:1.5em;}
.left .title {font-size:11px; color:#000; font-family:Arial, Helvetica, sans-serif; padding-top:2px; padding-bottom:2px;}
.left .title a {color:#666666; text-decoration:underline;}
.left .post .main-title {margin-bottom:20px;}
.left .post .main-title h2 {padding-bottom:0px; margin-bottom:0px;}
.left .post .main-title h2 a {font-size:1.2em;}
.left .post .main-title small { font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#666666;}
.left .post .tags {}
.left .post .tags a {background:url(images/bullets/1.gif) no-repeat 0px 7px; font-size:0.8em; padding-left:12px; text-decoration:underline; margin-right:5px;}
.left .post .tags a:hover {text-decoration:none;}
.left .post .post-author {float:right; margin-top:10px; margin-right:20px;} 
.left .post .author-name {float:right; padding-left:8px; padding-top:4px; color:#666666; font-size:11px; font-style:italic;}
.left .post .postmetadata {font-size:11px; border-bottom:1px solid #999999; text-align:left; margin-top:15px; color:#666666;}
.left .post .postmetadata .category {margin:5px 0 6px 0; display:block; width:470px; float:left;}
.left .post .postmetadata .category a {background:url(images/ico-meta.gif) no-repeat 0px 4px; padding-left:9px; color:#666666; margin-right:5px;}
.left .post .postmetadata .category a:hover{}
.left .post .postmetadata .comment {padding-left:20px; float:right; margin-top:5px; }
.left .post .postmetadata a.comments-link {color:#878789;}
.left .post .postmetadata a.comments-link:hover{color:#d2344f}
.left .post .wpmetadata {color:#878789; margin-top:10px; font-size:11px;} 
.left .post .wpmetadata a {color:#878789; text-decoration:underline;}


#sidebar {padding:0 0 10px 0; color:#000;  -moz-border-radius:5px;}
#sidebar h2 {margin: 0px 0px 10px 0px; padding: 0; font-size:19px;}
#sidebar a {text-decoration:underline;}
#sidebar a:hover {text-decoration:none;}
#sidebar ul li{float:left; width:280px; padding:10px; -moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; -moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px; margin-bottom:15px;}
#sidebar ul li ul li{ float:none; width:auto; border-bottom:1px solid #e8e8e8; padding-bottom:10px !important;}
#sidebar ul li ul li ul {padding:0px !important; margin:0px !important;}
#sidebar ul li ul li ul li{ margin:5px 0px 5px 10px !important; padding:0px !important; border:0px !important;}
#sidebar ul p, #sidebar ul select {margin: 5px 0 8px;}
#sidebar ul ul ul, #sidebar ul ol {margin: 0 0 0 10px;}
#sidebar ul ul li, #sidebar ul ol li {margin: 5px 0 0; padding: 0;}
#sidebar .widget ul li a {padding:5px 0px 5px 10px; line-height:16px; background:url(images/plus.gif) no-repeat left center;}
#sidebar #ads-module ul.advert li {width:auto; border-bottom:none; float:left;}
#sidebar #ads-module ul.advert li a {background:none;}
#sidebar #ads-module ul.advert li {margin-left:15px !important;}
#sidebar #widget_tag_cloud h2 {margin:0px;}
#sidebar #widget_text .textwidget {margin-top:7px;}
#sidebar #widget_search h2 {float:left; padding-right:15px;}
#sidebar #widget_recent_entries ul li a{background:url(images/recent_bull.gif) no-repeat 0 7px; padding:5px 0 5px 19px;}
#sidebar #widget_recent_comments ul li{background:url(images/recent_bull.gif) no-repeat 0 7px; padding:4px 0 4px 19px;}
#sidebar #widget_recent_comments ul li a {background:none;}
#sidebar #widget_text {line-height:18px;}
#sidebar #widget_archive ul li a{background:url(images/archives_bull.gif) no-repeat 0 7px; padding:4px 0 4px 19px;}
#twitter .rightlink {background:url(images/ico-twitter.png) no-repeat 130px -3px; height:30px; display:block;}
#sidebar .map {width:300px; height:300px; border:3px solid #FFF; margin-left:5px; margin-bottom:15px;}
#sidebar #widget_search .c_simg {top:8px;}
#sidebar .networks {}
#sidebar #networksWidget .line { padding-left:0px; padding-top:10px; background:url(images/profiles/line.gif) repeat-y 127px;}
#sidebar .networks li {float:left; width:140px; border-bottom:0px; margin:0px 0px 25px 0px !important; padding:0px !important;}
#sidebar .networks .net-pic {position:relative; float:left; width:30px;}
#sidebar .networks .net-desc {position:relative; top:0px; left:10px;}
#sidebar .networks .net-desc a {text-decoration:none; }
#sidebar .networks span {color:#a0a0a0; position:absolute; top:10px; left:40px; line-height:8px;}
#sidebar .networks span small {margin:0px; padding:0px; line-height:24px;}


/* FOOTER */
#footer_l .social .rss a {background:url(images/profiles/rss_16.png) no-repeat;}
#footer_l .social .facebook a {background:url(images/profiles/facebook_16.png) no-repeat;}
#footer_l .social .twitter a {background:url(images/profiles/twitter_16.png) no-repeat;}
#footer_l .social .flickr a {background:url(images/profiles/flickr_16.png) no-repeat;}
#footer_l .social .tit {color:#cbcbcb;}
#footer_l .social ul li {float:left;}
#footer_l .social ul li a {display:block; height:16px; padding:0; text-indent:-9999px; width:16px;}

#footer_wrap { border-top: 1px solid #E4E4E4; margin: 0pt; background-color:#000; height: 61px; }
#footer { margin: 0pt auto; padding: 25px 0px 0px; width: 960px; font-size: 11px; height: 36px; }
.fw { margin:0px auto; padding:0px; width:960px;}
#footer li { display: inline; padding-right: 8px; }
#footer a:hover, #footer a:active, #footer li.current_page_parent, #footer li.current_page_parent a, #footer li.current_page_parent a:visited, #footer li.current_page_item a, #footer li.current_page_item a:visited { background-image: none; }
#footer_l { float: left; width: 400px; }
#footer_r { float: right; text-align: right; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
#footer p { color: rgb(12, 53, 106); line-height: 14px; }
#footer a { background-image: none; }
#footer a:hover { text-decoration: underline; }


/* Top Navigation */
.menu {margin-top:48px; float:right;}
.topnav { z-index:99; margin:0; padding:0; list-style:none; line-height:1;}
.topnav li { padding-right:30px;}
.topnav a  { position:relative; text-transform:none; font-size:16px; display:block; z-index:100; padding:5px 0px; line-height:18px; text-decoration:none; }
.topnav a:hover {text-shadow:0 2px 4px rgba(0, 0, 0, 0.23);}
.topnav li  { float:left; width: auto; }
.topnav li a.sf-with-ul { padding-right:0px; }

/* Drop-down menu */
.topnav li ul  { background: #FFF; position: absolute; left: -999em; width: 180px; border: 1px solid #dbdbdb; border-width:1px 1px 0; z-index:999; }
.topnav li ul li  { background:#FFF; border-top:1px solid #fff; border-bottom:1px solid #dbdbdb; padding-right:0px;}
.topnav li ul li a  { width:160px; font-size:11px; line-height:18px; padding:5px 10px; text-transform:none;}
.topnav li ul li a.sf-with-ul { padding:5px 10px; }
.topnav li ul li a:hover  { background:#FFF;}
.topnav li ul ul  { margin: -30px 0 0 180px; }
.topnav li ul ul li a  {}
.topnav li ul li ul li a  {}
.topnav li:hover,.topnav li.hover  { position:static; }
.topnav li:hover ul ul, .topnav li.sfhover ul ul,
.topnav li:hover ul ul ul, .topnav li.sfhover ul ul ul,
.topnav li:hover ul ul ul ul, .topnav li.sfhover ul ul ul ul { left:-999em; }
.topnav li:hover ul, .topnav li.sfhover ul,
.topnav li li:hover ul, .topnav li li.sfhover ul,
.topnav li li li:hover ul, .topnav li li li.sfhover ul,
.topnav li li li li:hover ul, .topnav li li li li.sfhover ul  { left:auto; }
.topnav .sf-sub-indicator {background:	url(images/arrow-superfish.png) no-repeat; position:absolute; display:block; right:-1em; top:0.8em; width:10px; height:10px; text-indent:-999em; overflow:hidden;}
.topnav li ul .sf-sub-indicator {background:url(images/arrow-superfish-right.png) no-repeat; right:0.4em; top:0.9em;}
.topnav li ul li a span, .topnav li.current-menu-item ul li a span, .topnav li.current_page_item ul li a span, .topnav li.current-cat ul li a span {color:#000;}
/* End Navigation */

/* TOP search bar*/
#search-block{width:302px; padding-top:40px; margin-right:17px;}
.c_simg {position:relative;}
.s_input {background:transparent url(images/s_input.png) no-repeat scroll 0 0; float:left; height:26px; width:195px;}
.s_input input {border:0 none; color:#9499a1; font-weight:normal; height:17px; margin-left:15px; margin-top:5px; width:180px;}
.s_submit {float:left; padding:0px; *margin:0px 0px 0px 0px; *padding:0px 0px 1px 0px;}

/* ADS module*/
#ads-module {text-align:center;}
#ads-module ul.advert {list-style:none; margin:0px !important; padding:0px;}
#ads-module ul.advert li {list-style:none !important; float:left; margin-left:15px; padding-bottom:10px;}
#ads-module ul.advert li a {background:none; padding:0px; margin:0px; border:0px;}
#ads-module ul.advert li a:hover {background:none; border:0px;}
#widget_tag_cloud {padding-bottom:20px;}
#single-ads {padding-top:15px;}
#single-ads #ads-module {margin:0px; padding:0px; width:auto; text-align:center;}
.header-ads { float:right; padding-top:20px; padding-right:20px;}

/* Flickr */
.flickr-pic {}
.flickr-pic .flickr_badge_image { float:left; padding-right:17px; padding-top:5px; padding-bottom:5px;}

/* Pagination */
#navigation {display: block; text-align: center; margin-top: 10px; margin-bottom: 0px;}
#navigation a {border:1px solid #DDDDDD; color:#999999; font-size:11px; font-weight:normal; margin-right:2px; padding:2px 5px; text-decoration:none;}
#navigation .on {border:1px solid #666666; color:#AAAAAA; font-size:11px; font-weight:normal; margin-right:2px; padding:2px 5px;}
#navigation .alignleft { padding-left:20px;}
#navigation .alignright { padding-right:20px;}
/* End Pagination */

/* Begin Calendar */
#wp-calendar #prev a, #wp-calendar #next a {font-size: 9pt;}
#wp-calendar a {text-decoration: none;}
#wp-calendar caption {font: bold 1.3em 'Trebuchet MS', Verdana, Arial, Sans-Serif;text-align: center;}
#wp-calendar th {font-style: normal;text-transform: capitalize;}
#wp-calendar {empty-cells: show; margin: 10px auto 0; width: 100%;}
#wp-calendar #next a {padding-right: 10px; text-align: right; }
#wp-calendar #prev a { padding-left: 10px; text-align: left;}
#wp-calendar a {display: block;}
#wp-calendar caption { text-align: center; width: 100%;}
#wp-calendar td {padding: 3px 0; text-align: center;}
#wp-calendar td.pad:hover {background-color: #fff;}
/* End Calendar */

/* WP extention */
.aligncenter {display: block; margin-left: auto; margin-right: auto;}
.alignleft {float: left; margin: 5px 15px 10px 0px;}
.alignright {float: right; margin: 5px 0px 10px 15px;}
.wp-caption {border: 1px solid #ddd; text-align: center; background-color: #f3f3f3;	padding-top: 4px; /*margin: 10px;*/	max-width:510px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;	border-radius: 3px;}
.wp-caption img { margin: 0; padding: 0 !important; border: 0 none;}
.wp-caption-dd {font-size: 11px; line-height: 17px; padding: 0 4px 5px;	margin: 0;}
.wp-smiley {margin:0;}
.gallery {margin: auto;}
.gallery .gallery-item {float: left; margin-top: 0; text-align: center;	width: 33%;}
.gallery img { border: 2px solid #cfcfcf;}
.gallery .gallery-caption {	color: #888;	font-size: 12px; margin: 0 0 12px;}
.gallery dl { margin: 0;}
.gallery img { border: 10px solid #f1f1f1;}
.gallery br+br { display: none;}


/* Comment Form */
#comment-form {padding-top:20px;}
#commentform {margin-left:20px; padding-top:10px;}
#comment-form p {clear:both;}
#comment-form label { float: left; width: 200px; padding-top: 5px; font-size: 1.1em; margin-bottom:10px;}
#comment-form label .required {	font-size: .85em; font-weight: normal;}
#comment-form label .required {	color: #fff;}
#comment-form input, #comment-form textarea {width: 265px;	padding: 5px 5px;}
#searchforma .field {float:left;}
#searchforma .field input {width:160px; padding:5px 5px;}
#comment-form input, #comment-form textarea, #searchforma .field input {font: 12px Arial, Helvetica, Geneva, sans-serif; color: #727272; background: #EFEFEF; border-top: 1px solid #c1c1b7; border-right: 1px solid #fafaf6; border-bottom: 1px solid #fafaf6; border-left: 1px solid #c1c1b7;}
#comment-form input:focus, #comment-form textarea:focus {color: #53534c; border: 1px solid #C3D3DF;}
#comment-form #submit {	width: auto; margin-left: 200px; border: none; padding: 4px 10px; margin-top:10px; text-transform: uppercase; cursor: pointer;}
#searchforma input#submit {width: auto; margin-left: 10px;border: none;	padding: 4px 10px; text-transform: uppercase; cursor: pointer;}	
#comment-form #submit, #searchforma input#submit { font: bold .95em Arial, Helvetica, Geneva, sans-serif; -moz-border-radius: 10px; -webkit-border-radius: 10px;}

/* Begin Comments*/
.alt { margin: 0; padding: 10px;}
.commentlist { margin:0px; padding: 0px; text-align: justify;}
.commentlist li {margin: 15px 0px 20px 0px; padding: 5px 5px 10px 10px; list-style: none;}
.commentlist li ul li { margin-right: -5px;	margin-left: 10px;}
.commentlist p {margin: 10px 5px 10px 0;}
.children { padding: 0;}
#commentform p {margin: 5px 0;}
.nocomments {text-align: center;margin: 0;padding: 0;}
.commentmetadata {margin: 5px 0px 15px 5px; display: block;}
.thread-alt {background-color: #EFEFEF;}
.commentlist p {display:block;}
.thread-even {background-color: #F4F4F4; -moz-border-radius:10px; -webkit-border-radius: 10px;}
.depth-1 {border: 0px;}
.even, .alt {border-left: 0px;}
.children .depth-1 { border-left:1px solid #CFCFCF; border-right:0px; border-top:0px; border-bottom:0px;}
.navigation {display: block; text-align: center; margin-top: 10px;}
.commentlist li .avatar { float: left; margin-right:10px;	border: 1px solid #eee;	padding: 2px !important; background: #fff;}
.commentlist cite, .commentlist cite a {font-weight: bold; font-style: normal; font-size: 1.1em;}
#respond:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
#respond {color:#000;}
.comment-text {}
.comment-meta a { color:#666666; font-size:10px; text-decoration:none; font-family:Arial, Helvetica, sans-serif;}
.comment-meta a:hover {text-decoration:underline;}
.comment-author cite {background:url(images/icons/autor-ico.png) no-repeat left center; padding-left:20px;}
.comment-author cite, .comment-author cite a{ font-size:13px; font-weight:bold;}

.reply { padding-left:24px; height:17px; float:right;}
.reply { background: url(images/icons/reply-ico.png) no-repeat left center;}
.reply a {font-size:11px;}
cite .note, cite .note a { font-size:10px; font-weight:bold; color:#454547;}
/* End Comments */

/* Natty */
.hid {display:none; position:absolute;}
.lin { /*color:#fff;*/ width:160px; float:left; margin:0px; padding:0px; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-size:11px; position:absolute; text-indent:-9990px;}
.lin img {vertical-align:middle;}

/* Image in post */
.imagefix img {max-width:500px; max-height:auto; height:auto;}
.fullwidth { width:100% !important;}
.fullwidth .imagefix img {max-width:auto; max-width:none; max-height:none; max-height:auto; height:auto;}

/* Author profile */
#entry-author-info { background:#ffffff; border-top: 4px solid #000;	padding: 18px 20px;	margin: 24px 0;	overflow: hidden;	clear: both;	font-size: 14px;	line-height: 20px;}
#entry-author-info #author-avatar {	background: #fff;	border: 1px solid #e7e7e7;	float: left;	margin: 0 -104px 0 0;	padding: 11px;	height: 60px;}
#entry-author-info #author-description {float: left;	margin: 0 0 0 104px;}
#entry-author-info h2 {	color: #000; font-weight: bold; font-size: 100%; margin-bottom: 0;}
#author-description .user-link {color:#0971B2; padding-bottom:10px;}
.entry-utility {color: #888; font-size: 12px; line-height: 18px; clear: both;}
.entry-meta a,
.entry-utility a {color: #888;}
.entry-meta a:hover,
.entry-utility a:hover {color: #FF4B33;}
#content .video-player {padding: 0;}
.author.vcard a {background:none !important; text-decoration:underline;}

/* Columns */
.fullwidth .column4 {width:200px; margin:0 15px;}
.fullwidth .column3 {width:280px; margin:0 15px;}
.fullwidth .column2 {width:450px; margin:0 15px;}
.column4 {width:100px; margin:0 15px;}
.column3 {width:155px; margin:0 15px;}
.column2 {width:270px; margin:0 15px;}
/* END Columns */
