.x-ray-backbone-view {
  border: 1px solid blue;
  margin: 2px;
  overflow: hidden;
}
.x-ray-backbone-view .x-ray-view-template-name {
  color: red;
}
/* Global */
body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* Cursor for anchors with no hrefs */
a {
  cursor: pointer;
}
/* Left Organizer */
.organizer-section-header {
  color: #777777;
}
.table-hover td {
  padding-left: 1em !important;
}
.table-hover > tbody > tr:hover {
  background-color: #dddddd !important;
}
.table-hover .active td {
  /*background: #d8d8d8 !important;*/
}
.scene-trigger,
.scene-title,
.game_objects .edit,
table td {
  cursor: pointer;
}
table th {
  cursor: default;
}
table.organizer thead th {
  position: relative;
  padding-right: 1.75em;
}
table.organizer .new {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
}
/* Long unbreakable names */
.media-organizer {
  overflow-x: hidden;
}
/* Navbar */
.aris-nav li {
  text-align: center;
}
.nav-name-wrapper {
  display: inline-block;
}
@media (max-width: 767px) {
  .aris-nav li {
    text-align: left !important;
  }
}
@media (min-width: 768px) and (max-width: 880px) {
  .nav-name {
    display: none !important;
  }
}
@media (min-width: 881px) and (max-width: 960px) {
  .nav-name {
    font-size: 80%;
  }
  .nav-name-wrapper {
    display: block;
  }
  body {
    padding-top: 70px !important;
  }
}
@media (min-width: 961px) and (max-width: 1100px) {
  .nav-name-wrapper {
    display: block;
  }
  body {
    padding-top: 70px !important;
  }
}
/* Active bootstrap list item as a button */
a.list-group-item.active:hover {
  background-color: #3276b1;
  border-color: #285e8e;
}
.nowrap {
  white-space: nowrap;
}
.absolute {
  /* Disabled for demo */
  /* position: absolute; */
  margin-top: 0;
  margin-left: 0;
  height: 100%;
  width: 100%;
}
.aris-logo img {
  height: 40px;
  margin: 5px 10px;
}
/* Full height editing */
html,
body,
.full-height {
  height: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
  background: #f6f6f6;
}
/* Scene editor */
#main .scenes {
  /* Disabled for demo */
  /* position: absolute; */
  margin-top: 0;
  margin-left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  padding: 2em;
}
/* Remove bootstraps gutter */
#info,
#list {
  padding-right: 15px;
  padding-left: 15px;
  overflow: auto;
}
/* Shadows */
nav,
.scene-panel,
.script-panel,
.script-option-panel,
.media-editor .thumbnail {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* Shaded Backgrounds */
#main .scenes,
.media-editor,
.conversation-editor {
  background: rgba(175, 175, 175, 0.5);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.scene-panel.panel-default:hover .panel-heading {
  background: #e8e8e8 !important;
}
.scene-panel.panel-info:hover {
  border-color: #a6e1ec !important;
}
.scene-panel.panel-info:hover .panel-heading {
  background: #c4e3f3 !important;
}
.scenes-overlay {
  /* Disabled for demo */
  /* position: absolute; */
  margin-top: 0;
  margin-left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  pointer-events: none;
}
.scene-panel.panel-default .scene-title {
  color: #777777;
}
.scene-panel.panel-default .scene-title .intro_icon {
  top: 3px;
}
.scene-panel {
  max-width: 100%;
  float: left;
  margin: 0.5em;
}
.scene-panel .panel-body {
  color: #555555;
}
.scene-panel .scene-title {
  white-space: nowrap;
  overflow: hidden;
  font-size: 125%;
  margin-right: 1em;
}
.scene-panel .new-trigger {
  position: absolute;
  right: 0;
  top: 0px;
  margin: 0.5em;
  padding: 0.5em;
}
.scene-triggers {
  margin-bottom: 0;
}
.scene-triggers .scene-trigger {
  position: relative;
  height: 55px;
  width: 75px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  padding-top: 5px;
}
.scene-triggers .scene-trigger .trigger-label {
  overflow: hidden;
}
.scene-triggers .scene-trigger:hover {
  color: #428bca;
}
.new-scene-button {
  float: right;
  z-index: 2;
}
.empty_scene {
  padding: 0 0.5em;
  text-align: center;
}
/* Side editor */
/* Hidden ID on editor heading */
.object-id {
  visibility: hidden;
}
h5:hover .object-id,
h4:hover .object-id {
  visibility: visible;
}
/* Padded hover checks */
.checkbox {
  padding: 0;
  border-radius: 4px;
  background: #eee;
}
.checkbox label {
  padding: 0.5em;
  width: 100%;
  vertical-align: middle;
}
.checkbox input {
  display: none;
}
.checkbox input + label:before {
  display: inline-block;
  position: relative;
  top: 1px;
  padding: 0.25em;
  margin-right: 0.25em;
  color: #fff;
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-family: 'Glyphicons Halflings';
  line-height: 1;
  content: "\e013";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.checkbox input:checked + label:before {
  color: #fff;
  background: #5bc0de;
  border-color: #269abc;
}
.checkbox:hover {
  background: #ddd;
}
/* Hide radio inputs */
.trigger-types input,
.item-types input,
.trigger-trigger_on_enter input,
.factory-trigger_on_enter input,
.published-toggle input {
  display: none;
}
/* QR code fit to side editor */
.qr_image img {
  padding-top: 1em;
  width: 100%;
}
/* Narrow editor panels */
.shrink-center {
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
/* Media */
.thumbnail {
  border: 1px solid rgba(0, 0, 0, 0);
}
.thumbnail .caption {
  padding-top: 0;
  padding-bottom: 0;
}
.thumbnail .caption p,
.thumbnail .caption div,
.thumbnail .caption h4 {
  white-space: nowrap;
  overflow: hidden;
}
.thumbnail.small img {
  width: 96px;
  height: 96px;
}
.thumbnail.tiny img {
  width: 48px;
  height: 48px;
}
/* TODO temporarily unused, bootstrap used instead */
.media-editor .aris-media-thumbnail {
  display: inline-block;
  position: relative;
  width: 25%;
  padding: 1em;
  padding-bottom: 30%;
  margin-bottom: 1em;
  height: 0;
}
.media-editor .aris-media-thumbnail .media-thumbnail {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.media-editor .aris-media-thumbnail .caption {
  display: inline-block;
  position: relative;
}
.media-editor .aris-media-thumbnail p {
  overflow: hidden;
}
.media-editor .aris-media-thumbnail div.image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.upload-preview {
  max-width: 100%;
  max-height: 45%;
}
.media-editor .media-drop-target {
  padding: 2em 1em;
}
.media-drop-target.media-hover {
  background: rgba(0, 0, 0, 0.25);
}
/* Media Selector */
.thumbnail.choose.selected {
  background: #d9edf7;
}
.thumbnail.choose.selected .caption {
  color: #31708f;
}
.thumbnail {
  cursor: pointer;
}
.thumbnail img {
  border-radius: 3px;
  height: 128px;
  width: 128px;
}
.thumbnail.editor:hover,
.thumbnail.choose:hover,
.thumbnail.change-icon:hover,
.thumbnail.change-media:hover {
  background: #eeeeee;
}
/* Event Editor */
.events-editor .event-table-header div,
.quest-editor .event-table-header div,
.media-editor .event-table-header div,
.object-editor .event-table-header div,
.games-list-container .event-table-header div,
.events-editor .event-table-header label,
.quest-editor .event-table-header label,
.media-editor .event-table-header label,
.object-editor .event-table-header label,
.games-list-container .event-table-header label {
  padding-right: 15px;
  padding-left: 15px;
}
.padded {
  padding-right: 15px;
  padding-left: 15px;
}
.padded-small {
  padding-right: 5px;
  padding-left: 5px;
}
/* Requirements Editor */
.and-package-editor .list-group {
  margin-bottom: 10px;
}
/* Scrolling for tall areas */
.scenes,
.media-editor,
.media-editor .media-drop-target,
.quests-editor,
.conversation-editor,
.conversations-editor,
.games-list-container,
.notes-editor,
.tabs-editor,
.scroll-area {
  height: 100%;
  overflow-x: auto;
}
/* Conversation Editor */
.conversation-editor {
  padding: 2em;
  text-align: center;
}
.conversation-button,
.script-option-panel,
.script-panel {
  cursor: pointer;
}
.script-option-panel:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.script-panel:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.conversation-button {
  color: #333333;
}
.conversation-button:hover {
  color: #428bca;
}
/* Jquery pan/zoom */
.conversation-editor,
.conversation_pan_region {
  position: relative;
}
.intro_script_region {
  display: inline-block;
}
.script_options {
  white-space: nowrap;
}
.script_options .script_option {
  vertical-align: top;
  min-width: 300px;
  display: inline-block;
}
.script_options .script_option + .script_option {
  margin-left: 100px;
}
/* Modal spacing */
.modal-dialog {
  margin-top: 100px !important;
}
.aris-alert {
  top: 25px;
  position: absolute;
  left: 50%;
  z-index: 9000;
}
/* Game Editor */
/* Panel Toggle markers */
.panel-heading .panel-title a:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
}
.panel-heading .panel-title.collapsed a:after {
  content: "\e080";
}
.panel-heading a {
  display: block;
}
.published-toggle label {
  opacity: 0.75;
}
.published-toggle label.active {
  opacity: 1.0;
}
/* Deletable Lists */
.list-group-item .remove {
  visibility: hidden;
  cursor: pointer;
}
.list-group-item:hover .remove {
  visibility: inherit;
}
/* Notes View */
.notes-editor .thumbnail {
  margin: 0;
  margin-right: 10px;
}
.notes-editor .list-group-item {
  padding: 10px;
}
/* Helpers */
.addon-bg-info {
  background: #d9edf7;
}
.well {
  background: #e8e8e8;
}
.form-inline {
  margin-top: 5px;
  margin-bottom: 5px;
}
#user.navbar-right {
  margin-right: 0;
}
/* List styling */
.well {
  /* Line rendering */
}
.well .list-group {
  margin-bottom: 0;
}
.well > h4 {
  margin-top: 0;
  text-align: center;
  color: #555555;
}
.well form {
  margin: 0;
}
.well > h4 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  line-height: 1.2;
}
.well > h4 span {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.well > h4:before,
.well > h4:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  border-top: 2px solid #ddd;
}
.well > h4:before {
  margin-left: -50%;
  text-align: right;
}
