/* Encompasses all spacers between players, sections, content, comments, etc... */
.spacer
{
  width:100%;
  float:left;
}

/* Encompasses everything about an individual player */
.player
{
  clear:both;
  width:600px;
  margin:5px;
  border-color:#00000F; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Space between each section */
.playerspacer
{
  height:100px;
  border-color:#0000F0; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Just name of Player */
.player_name
{
  font-size:20px;
  font-weight:bold;
  margin:10px;
  float:left;
  border-color:#0000FF; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual section (attributes, items, notes) */
.section
{
  clear:both;
  border-color:#000F00; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Space between each section */
.sectionspacer
{
  height:40px;
  border-color:#000F0F; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* The word 'Attribute' and 'Item' and 'Note' at the beginning of a section */
.sectionheader
{
  font-weight:bold;
  border-color:#000FF0; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses an individuals total list of attributes */
.attributes
{
  border-color:#000FFF; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses an individuals total list of items */
.items
{
  border-color:#00F000; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses an individuals total list of notes */
.notes
{
  border-color:#00F00F; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual piece of content (an attribute, an item, a note, etc...) */
.content
{
  clear:both;
  width:100%;
  margin:5px;
  border-color:#00F0F0; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Space between each peice of content */
.contentspacer
{
  height:20px;
  border-color:#00F0FF; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual attribute */
.attribute
{
  border-color:#00FF00; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual item */
.item
{
  border-color:#00FF0F; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual note */
.note
{
  border-color:#00FFF0; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual attribute of any type of content (attribute_attrib, item_attrib, note_attrib, etc...) */
.attrib
{
  float:left;
  width:100px;
  margin:5px;
  border-color:#00FFFF; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual attribute of an attribute (icon, qty, etc...) */
.attribute_attrib
{
  border-color:#0F0000; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual attribute of an item (icon, qty, weight, etc...) */
.item_attrib
{
  border-color:#0F000F; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual attribute of a note (icon, qty, weight, etc...) */
.note_attrib
{
  border-color:#0F00F0; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual notecontent */
.notecontent
{
  clear:both;
  float:left;
  position:relative;
  left:40px;
  width:100%;
  border-color:#0F00FF; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual attribute of a notecontent (media, etc...) */
.notecontent_attrib
{
  border-color:#0F0F00; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Space between each notecontent */
.notecontentspacer
{
  height:10px;
  border-color:#0F0F0F; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual comment */
.comment
{
  clear:both;
  float:left;
  position:relative;
  left:80px;
  width:100%;
  border-color:#0F0FF0; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual attribute of a comment (title, media, etc...) */
.comment_attrib
{
  border-color:#0F0FFF; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Space between each comment */
.commentspacer
{
  height:10px;
  border-color:#0FF000; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual commentcontent */
.commentcontent
{
  clear:both;
  float:left;
  position:relative;
  left:40px;
  width:100%;
  border-color:#0FF00F; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Encompasses each individual attribute of a commentcontent (media, etc...) */
.commentcontent_attrib
{
  border-color:#0FF0F0; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

/* Space between each commentcontent */
.commentcontentspacer
{
  height:10px;
  border-color:#0FF0FF; /* Turn 'border-style:dotted;' on for div tags to use this debugging info */
}

div
{
  text-align:center;
  /* border-style:dotted; */
  border-width:1px;
}

img
{
  max-width:50px;
  max-height:50px;
}
