/* Encompasses everything about an individual player */
.player
{
  clear:both;
  width:600px;
  margin:5px;
}

/* Space between each section */
.playerspacer
{
  height:100px;
  width:100%;
  float:left;
}

/* Just name of Player */
.player_name
{
  font-size:20px;
  font-weight:bold;
  margin:10px;
  float:left;
}

/* Encompasses each individual section (attributes, items, notes) */
.section
{
  clear:both;
}

/* Space between each section */
.sectionspacer
{
  height:40px;
  width:100%;
  float:left;
}

/* The word 'Attribute' and 'Item' and 'Note' at the beginning of a section */
.sectionheader
{
  font-weight:bold;
}

/* Encompasses an individuals total list of attributes */
.attributes
{
}

/* Encompasses an individuals total list of items */
.items
{
}

/* Encompasses each individual piece of content (an attribute, an item, a note, etc...) */
.content
{
  clear:both;
  margin:5px;
}

/* Space between each peice of content */
.contentspacer
{
  height:20px;
  width:100%;
  float:left;
}

/* Encompasses each individual attribute */
.attribute
{
}

/* Encompasses each individual item */
.item
{
}

/* Encompasses each individual attribute of any type of content (attribute_attrib, item_attrib, note_attrib, etc...) */
.attrib
{
  float:left;
  width:100px;
  margin:5px;
}

/* Encompasses each individual attribute of an attribute (icon, qty, etc...) */
.attribute_attrib
{
}

/* Encompasses each individual attribute of an item (icon, qty, weight, etc...) */
.item_attrib
{
}

/* Encompasses each individual comment */
.comment
{
  clear:both;
  float:left;
  position:relative;
  left:80px;
}

/* Encompasses each individual attribute of a comment (title, media, etc...) */
.comment_attrib
{

}

/* Space between each comment */
.commentspacer
{
  height:10px;
  width:100%;
  float:left;
}

/* Encompasses each individual notecontent */
.notecontent
{
  clear:both;
  float:left;
  position:relative;
  left:80px;
}

/* Encompasses each individual attribute of a notecontent (media, etc...) */
.notecontent_attrib
{

}

/* Space between each notecontent */
.notecontentspacer
{
  height:10px;
  width:100%;
  float:left;
}

div
{
  text-align:center;
}

img
{
  max-width:50px;
  max-height:50px;
}
